* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #ffe2f8;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.containerCard {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  height: 100vh;
  background-color: #fcf8fd;
}

.card {
  background-color: #a3e8ff;
}
